body {
  margin: 0;
  padding: 0;
}

.layout {
  width: 1020px;
  margin: 0 auto;
}

@font-face {
  font-family: LatoBlack;
  src: url(./assets/fonts/Lato-Black.ttf) format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: LatoBold;
  src: url(./assets/fonts/Lato-Bold.ttf) format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: LatoLight;
  src: url(./assets/fonts/Lato-Light.ttf) format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: LatoRegular;
  src: url(./assets/fonts/Lato-Regular.ttf) format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

header {
  height: 90px;
  border-bottom: solid 5.5px #323746;
  background-color: #2d303a;
}

header h1 {
  margin-left: 40px;
  margin-top: 29px;
  float: left;
  color: #ffffff;
  font-size: 25px;
  font-family: LatoBold;
  letter-spacing: -0.7px;
  cursor: pointer;
}

header h1::after {
  content: "*";
  color: #f06c64;
}

nav ul {
  float: right;
  margin-top: 42px;
  font-family: LatoBold;
  text-align: center;
  font-size: 12px;
  margin-right: 40px;
  letter-spacing: -0.2px;
  color: #ffffff;
}

nav ul li {
  display: block;
  float: left;
  cursor: pointer;
}

nav ul li.active {
  color: #f06c64;
  cursor: default;
}

nav ul li:not(:last-child):after {
  content: "·";
  display: inline-block;
  color: #424758;
  width: 30px;
}

section.slider {
  height: 600px;
  width: 1020px;
  background-color: #f06c64;
  position: relative;
}

section.slider .slider-left {
  position: absolute;
  transform-origin: center;
  background-image: url(./assets/images/chevLeft.png);
  width: 16px;
  height: 27px;
  top: 46.7%;
  left: 42px;
  z-index: 3;
  cursor: pointer;
}

section.slider .slider-right {
  position: absolute;
  transform-origin: center;
  background-image: url(./assets/images/chevRight.png);
  width: 16px;
  height: 27px;
  top: 46.7%;
  right: 42px;
  z-index: 3;
  cursor: pointer;
}

section.slider .vertical-phone {
  position: absolute;
  background-image: url(./assets/images/iPhone-Vertical.png);
  width: 240px;
  height: 483px;
  top: 52px;
  left: 112px;
  z-index: 2;
}

section.slider .vertical-phone .vertical-photo-slide {
  position: absolute;
  width: 194px;
  height: 339px;
  top: 62px;
  left: 11px;
  z-index: 1;
}

section.slider .horizontal-phone {
  position: absolute;
  background-image: url(./assets/images/iPhone-Horizontal.png);
  height: 240px;
  width: 483px;
  top: 174px;
  left: 425px;
  z-index: 2;
}

section.slider .horizontal-phone .horizontal-photo-slide {
  height: 194px;
  width: 339px;
  position: absolute;
  top: 11px;
  left: 57px;
  z-index: 1;
}
